<div class="fluid-container">
  <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="card border-warning mx-sm-1 p-3">
          <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fa fa-inbox" aria-hidden="true"></span></div>
          <div class="text-warning text-center mt-3"><h4>Today's Tests :  {{Tests}}</h4></div>
          <div class="text-warning text-center mt-2"><h1></h1></div>
      </div>
      
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="card border-success mx-sm-1 p-3">
          <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-eye" aria-hidden="true"></span></div>
          <div class="text-success text-center mt-3"><h4>Total Test Cases :  {{total}}</h4></div>
          <div class="text-success text-center mt-2"><h1></h1></div>
      </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="card border-info mx-sm-1 p-3">
          <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-car" aria-hidden="true"></span></div>
          <div class="text-info text-center mt-3"><h4>Total Critical Tests : {{criti}}</h4></div>
          <div class="text-info text-center mt-2"><h1></h1></div>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
      <div class="col-xl-6"> 
          <div class="card border-primary mx-sm-1 p-3">
            <div class="card-header">
              <h3>Total Pass/Fail Test Cases</h3>
            </div>
            <div class="card-body">
                <canvas id="canvas1" ></canvas>
            </div>
          </div>
        </div>
        <div class="col-xl-6">            
            <div class="card border-primary mx-sm-1 p-3">
                <div class="card-header">
                    <h3>Pass/Fail for every Tests</h3>
                </div>
              <div class="card-body">
                <canvas id="canvas2" ></canvas>
              </div>
            </div>
          </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
          <h4 class="mt-4">TABLE FOR TESTS: </h4>
          <table class="table table-hover table-bordered table-responsive-xl">
            	<thead class="thead-light">
                  <tr>
                    <th>Name Of Tests</th>
                    <th>S_time</th>
                    <th>E_time</th>
                    <th>Pass</th>
                    <th>Fail</th>
                    <th>Critcal</th>
                  </tr>
                </thead>
              <ng-container *ngFor="let value of data">
                  <tbody>
                      <tr (click)="value.expanded = !value.expanded">
                        <td> {{ value.expanded ? '&ndash;' : '+'}} {{value.name}} </td>
                        <td>{{value.stime | slice:9}}</td>
                        <td>{{value.etime | slice:9}}</td>
                        <td>{{value.pass}}</td>
                        <td>{{value.fail}}</td>
                        <td>{{value.criti}}</td>
                      </tr>
                     </tbody>
                  <div *ngIf="value.expanded">
                      <thead class="thead-dark" >
                          <tr>
                            <th>Sl.No</th>
                            <th>Test Cases Name</th>
                            <th>S_time</th>
                            <th>E_time</th>
                            <th>Status</th>
                            <th>Critcal</th>
                          </tr>
                        </thead>
                      <ng-container *ngFor= "let t of  findDetails(value); let i =index" >
                            <tbody>
                                <tr (click)="t.expanded = !t.expanded">
                                    <td>{{ t.expanded ? '&ndash;' : '+'}} {{i+1}}</td>
                                    <td>{{t.name | slice:0:30}}</td>
                                    <td>{{t.stime | slice:9}}</td>
                                    <td>{{t.etime | slice:9}}</td>
                                    <td>{{t.stas}}</td>
                                    <td>{{t.criti}}</td>
                                  </tr>
                              </tbody>
                            <ng-container *ngIf="t.expanded">
                                <thead class="thead-light" >
                                    <tr>
                                      <th>Sl.No</th>
                                      <th>Tag Name</th>
                                      <th>S_time</th>
                                      <th>E_time</th>
                                      <th>Status</th>
                                    </tr>
                                  </thead>
                                <tbody>
                                    <tr *ngFor ="let k of keywords(t);let j = index">
                                        <td>{{j+1}}</td>
                                        <td>{{k.name | slice:0:30}}</td>
                                        <td>{{k.stime | slice:9}}</td>
                                        <td>{{k.etime | slice:9}}</td>
                                        <td>{{k.stas}}</td>
                                      </tr>
                                </tbody>
                            </ng-container>
                      </ng-container>
                  </div>    
              </ng-container>   
          </table>   
      </div>
  </div>
</div>

